footbal/footbal/Service References/ServiceReference2/ASPFAQs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAQsInCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="catID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAQsInCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFAQsInCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FAQID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFAQResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFAQsInCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetFAQsInCategory" />
  </wsdl:message>
  <wsdl:message name="GetFAQsInCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetFAQsInCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetFAQSoapIn">
    <wsdl:part name="parameters" element="tns:GetFAQ" />
  </wsdl:message>
  <wsdl:message name="GetFAQSoapOut">
    <wsdl:part name="parameters" element="tns:GetFAQResponse" />
  </wsdl:message>
  <wsdl:portType name="ASPFAQsSoap">
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFAQsInCategory">
      <wsdl:input message="tns:GetFAQsInCategorySoapIn" />
      <wsdl:output message="tns:GetFAQsInCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFAQ">
      <wsdl:input message="tns:GetFAQSoapIn" />
      <wsdl:output message="tns:GetFAQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASPFAQsSoap" type="tns:ASPFAQsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://microsoft.com/webservices/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFAQsInCategory">
      <soap:operation soapAction="http://microsoft.com/webservices/GetFAQsInCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFAQ">
      <soap:operation soapAction="http://microsoft.com/webservices/GetFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ASPFAQsSoap12" type="tns:ASPFAQsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFAQsInCategory">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetFAQsInCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFAQ">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetFAQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASPFAQs">
    <wsdl:port name="ASPFAQsSoap" binding="tns:ASPFAQsSoap">
      <soap:address location="http://aspnet.4guysfromrolla.com:8001/ws/ASPFAQs.asmx" />
    </wsdl:port>
    <wsdl:port name="ASPFAQsSoap12" binding="tns:ASPFAQsSoap12">
      <soap12:address location="http://aspnet.4guysfromrolla.com:8001/ws/ASPFAQs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>